.bg-nav{
  background-color: RGB(0, 155, 119);
  color: white;
}

body {
  position: relative;
}

.gestion {
  display: none;
  width:100%;
}

.myBtn{
  background-color: RGB(0, 155, 119);
  color: white;
  margin: 2%;
}

.trash{
  font-size: 24px!important;
  color: red;
  display: inline;
}

.edit{
  font-size: 24px!important;
  color: black;
}

select:invalid {
  box-shadow: 0 0 5px 1px red;
}

.liste_ssCat{
  margin-left: 10%;
}

.displayCategorie{
  font-size: 28px;
  font-weight: bold;
}

.displaySsCategorie{
  font-size: 20px;
  font-weight: bold;
}

.liste_produit{
  margin-left: 15%;
}

.liste_categorie{
  margin-left: 3%;
}

.miniature{
  max-width: 100px;
  width: 5%;
}

.prix, .article{
  margin: 1%;
  display: inline;
}

.prixTitre, .articleTitre, .total{
  font-weight: bold;
}

.messageAjout{
  margin-top: 10px;
  padding: 10px;
  border: solid;
  border-color: RGB(0, 155, 119);
  border-radius: 30px;
  background-color: RGB(0, 155, 119);
  opacity: 0.8;
  color: white;
  width: 65%;
}

.messageConnecte{
    margin: 1%;
}

.logo{
    max-width: 50px;
    max-height: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: RGB(0, 155, 119);
  color: white;
  text-align: center;
  margin: 0;
  padding: 1%;
}
