<div class="container-fluid">
  <h2>Inscription</h2>
  <form action="../traitement/inscriptionUtilisateur.php" method="post">
    <label>Mail :</label>
    <input required class="form-control" type="email" id="mail" name="mail" maxlength="50" placeholder="Exemple : nom@domaine.com"><br>
    <label>Nom :</label>
    <input required class="form-control" type="text" id="nom" name="nom" maxlength="30">
    <label>Prenom :</label>
    <input required class="form-control" type="text" id="prenom" name="prenom" maxlength="30"><br>
    <label>Mot de passe *:</label>
    <input required class="form-control" type="password" id="mypassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" name="password"><br>
    <label>Confirmer le mot de passe *:</label>
    <input required class="form-control" type="password" id="confirm_password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" name="confirm_password"><br>
    <label>Adresse :</label>
    <input required class="form-control" type="text" id="adresse" maxlength="100" name="adresse"><br>
    <label>Telephone :</label>
    <input required class="form-control" type="text" id="telephone" maxlength="15" name="telephone"><br>
    <input type="checkbox" required>
    <label>J'accepte les <a href="../pages/condUtilisations.php">conditions générales d'utilisation et la politique de confidentialité.</a></label><br>
    <input type="submit" class="btn myBtn" value="Valider">
  </form>
  * Le mot de passe doit faire au minimum 8 caractères, et doit contenir au minimum une majuscule, une minuscule, un chiffre et un caractère spécial.
</div>
<script>
  var password = document.getElementById("mypassword");
  var confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Les mots de passes ne correspondent pas.");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onblur = validatePassword;
</script>
