<div>
  <h3>Ajouter une catégorie</h3>
  <form id="formAddCat" action="../traitement/addCategorie.php" method="post">
    <label for="fname">Nom de la catégorie :</label>
    <input maxlength="50" class="form-control" type="text" id="nameAddCat" name="catName" placeholder="Exemple : Plantes vivaces ..."><br>
  </form>
  <button class="btn myBtn" onclick="validAddCat()" >Créer la catégorie</button>
</div>
<script src="../javascript/validAddCat.js"></script>
