<div>
  <h3>Ajouter une unité de prix</h3>
  <form id="formAddUnite" action="../traitement/addUnite.php" method="post">
    <label for="fname">Nom de la catégorie :</label>
    <input class="form-control" maxlength="50" type="text" id="nameAddUnit" name="nameUnit" placeholder="Exemple : kg, botte ..."><br>
  </form>
  <button class="btn myBtn" onclick="validAddunite()" >Créer l'unité</button>
</div>
<script src="../javascript/validAddUnite.js"></script>
